<nav class="navbar navbar-expand-lg  navbar-dark text-white mb-3" id="nav-css">
  <div class="clock "></div>

  <div class="container-fluid">
      <h5  class="nav-brand" id="time-display">Time left: <%= user.time/60000 %></h5>
      
      <div id="navbarText" class="mr-3">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pointstable">Points Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rules">Rules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>