<p>asjdklfjlksdj fsdjf sadjf lkasdjf sdf lskdjflksjadlkf asdlfj lsj dfljsdl jfsladjflja</p>
<form action="">
    <div class="form-group">
        <label for="user">User</label> 
        <input type="text" name="user" id="user" class="form-control" placeholder="">
    </div>
    <div class="form-group">
        <label for="user">Password</label> 
        <input type="password" name="password" id="password" class="form-control" placeholder="">
    </div>
</form>