<%include header%>

<div class="row " id="">    
    <div class="mx-auto p-5" style="background-color: rgba(22, 22, 22, 0.5);">
        <div class="row text-white pb-3">
            <h3>Level 5</h3>
        </div>
        <p class="text-white">Caesar is a student from School of ICT <br> and he studied in shift 20 batch. <br> He just learnt crypto and destroyed a message by mistake. <br> Can you get it back for him? </p>
        <p class="text-white">Destroyed Message : <a href="/data/text5"> File.txt <i class="fa fa-file"></i></a></p>
        <form action="/problems/pikachu5" method="POST">
                <input type="password" name="password" id="password" class="w-100 pl-1 py-1"  placeholder="enter the complete answer">
                <br><br>
                <button class="btn btn-outline-success w-100">Submit</button>
        </form>
    </div>
</div>
