<% include header%>
<div class="container text-white my-5">
  <h1 class="" id="levels-text">Score Board</h1>
</div>
<div style="height: 300px; overflow: auto;">
<table class="table border-0 text-white" border="1"  > 
    <thead>
      <b>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Name</th>
          <th scope="col">Roll No</th>
          <th scope="col">Points</th>
        </tr>
      </b>
    </thead>
    <tbody>


 <% for(var i=0; i<users.length ; i++) { 

  %>
      <tr>
        <th><%= i+1 %></th>
        <td><%= users[i].name%></td>
        <td><%= users[i].rollno%></td>
        <td><%= users[i].points%></td>
      </tr>
<% }%>
    </tbody>
  </table>
  </div>