<a href="/problems/pikachu1" class="btn btn-secondary"></a>
<a href="/problems/pikachu2" class="btn btn-secondary"></a>
<a href="/problems/pikachu3" class="btn btn-secondary"></a>
<a href="/problems/pikachu4" class="btn btn-secondary"></a>
<a href="/problems/pikachu5" class="btn btn-secondary"></a>
<a href="/problems/pikachu6" class="btn btn-secondary"></a>
<a href="/problems/pikachu7" class="btn btn-secondary"></a>
<a href="/problems/pikachu8" class="btn btn-secondary"></a>
<a href="/problems/pikachu9" class="btn btn-secondary"></a>