<% include header %>
<div class="container text-white my-3">
    <h1 class="float-right" id="levels-text">Levels</h1>
</div>
<br>
<div class="container text-white my-3">

    <div class="row my-3">
        <h2>Easy</h2>
    </div>
    <div class="row my-3">
        <div class="col-2">
            <a href="/problems/pikachu0" class="btn btn-secondary px-5 py-2 text-white">Level 0</a>
        </div>
        <div class="col-2">
            <a href="/problems/pikachu1" class="btn btn-secondary px-5 py-2 text-white">Level 1</a>
        </div>     
        <div class="col-2">
            <a href="/problems/pikachu2" class="btn btn-secondary px-5 py-2 text-white">Level 2</a>
        </div>  
        <div class="col-2">
            <a href="/problems/pikachu3" class="btn btn-secondary px-5 py-2 text-white">Level 3</a>
        </div>
    </div>
    <div class="row my-3">
        <h2>Intermediate</h2>
    </div>
    <div class="row my-3">
        <div class="col-2">
            <a href="/problems/pikachu4" class="btn btn-secondary px-5 py-2 text-white">Level 4</a>
        </div>
        <div class="col-2">
            <a href="/problems/pikachu5" class="btn btn-secondary px-5 py-2 text-white">Level 5</a>
        </div>  
    </div>
    <div class="row my-3">
        <h2>Advanced</h2>
    </div>
    <div class="row my-3">
        <div class="col-2">
            <a href="/problems/pikachu7" class="btn btn-secondary px-5 py-2 text-white">Level 6</a>
        </div>     
    </div>

</div>