<a href="/pikachu1" class="btn btn-secondary"></a>
<a href="/pikachu2" class="btn btn-secondary"></a>
<a href="/pikachu3" class="btn btn-secondary"></a>
<a href="/pikachu4" class="btn btn-secondary"></a>
<a href="/pikachu5" class="btn btn-secondary"></a>
<a href="/pikachu6" class="btn btn-secondary"></a>
<a href="/pikachu7" class="btn btn-secondary"></a>
<a href="/pikachu8" class="btn btn-secondary"></a>
<a href="/pikachu9" class="btn btn-secondary"></a>