<%include header%>

<div class="row w-100" id="">    
    <div class="mx-auto p-5" style="background-color: rgba(22, 22, 22, 0.5);">
        <div class="text-center text-white pb-3">
            <h3>My Profile</h3>
        </div>

        <div class="container">
            <img src="../img/user_logo.png" class="px-5 py-3"  alt="User Image">
        </div>
        
        <p class="text-white px-3"><font style="color: orange;">Name    :</font> <%= user.name %></p>
        <p class="text-white px-3"><font style="color: orange;">Roll no :</font> <%= user.rollno %></p>
        <p class="text-white px-3"><font style="color: orange;">Email   :</font> <%= user.email %></p>
        

    </div>
</div>

