<% include header%>

<div class="container text-white py-3">
    <h1 class=" py-3" id="levels-text">Rules</h1>

    <ul class="text-white py-4">
        <li class="py-1">Candidate needs to register themself for the test if not yet registered.</li>
        <li class="py-1">After successful registration login to your account to start the test.</li>
        <li class="py-1">There are 8 levels in this series.</li>
        <li class="py-1">Each level will be of 100 marks.</li>
        <li class="py-1">A candidate must atleast clear 3 levels to be eligible for becoming a winner.</li>
        <li class="py-1">The candidate with most levels cleared within least time will be declared as winner.</li>
        
    </ul>
</div>