<% include header%>

<div class="container text-white my-3">
    <h1 class="float-right" id="levels-text">Rules</h1>
</div>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>