<%include header%>

<div class="row my-5" id="">

    <div class="mx-auto p-5" style="background-color: rgba(22, 22, 22, 0.5);">
        <h3 class="text-success text-center">Access Already Granted</h3>
        <center>
            <img src="/img/correct.png" alt="Success" width="120" height="120" class="my-3 mx-5">
        </center>
        <h6 class="text-white text-center">Congratulation!<br> You succussfully cleared the level.</h6>
        <a href="/problems" class="btn btn-success w-100" >Next Level</a>    
    </div>
</div>