<center class="my-5 text-white">
    <div class="wrapper">
        <h2 class="text-center text-white">Technovation 2020</h2>
        <p class="text-center text-warning">PRESENTS</p>
        <div class="header-wrap">
          <p>CTF v1.0</p>
        </div>
      </div>
    <div class="container">
        <p>Quick Signup or Login to continue</p>
        <br>
        <a href="/user/login" class="btn btn-success px-5 py-1 m-1">Login</a>
        <a href="user/register" class="btn btn-danger px-5 py-1 m-1">Register</a>
    </div>
</center>